version: 2
updates:
  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "monthly"

  - package-ecosystem: "docker"
    directory: "kubernetes/chart"
    schedule:
      interval: "monthly"

  - package-ecosystem: "docker"
    directory: "kubernetes/manifests/discord/bot"
    schedule:
      interval: "monthly"

  - package-ecosystem: "docker"
    directory: "kubernetes/manifests/dragonfly/client"
    schedule:
      interval: "monthly"

  - package-ecosystem: "docker"
    directory: "kubernetes/manifests/dragonfly/loader"
    schedule:
      interval: "monthly"

  - package-ecosystem: "docker"
    directory: "kubernetes/manifests/dragonfly/mainframe"
    schedule:
      interval: "monthly"

  - package-ecosystem: "docker"
    directory: "kubernetes/manifests/keycloak"
    schedule:
      interval: "monthly"
