apiVersion: batch/v1
kind: CronJob
metadata:
  namespace: dragonfly
  name: dragonfly-loader
spec:
  schedule: '* * * * *'
  concurrencyPolicy: Forbid
  jobTemplate:
    spec:
      template:
        spec:
          containers:
            - name: dragonfly-loader
              image: ghcr.io/vipyrsec/dragonfly-loader:v1.0.1
              imagePullPolicy: Always
              envFrom:
                - secretRef:
                    name: dragonfly-loader-env
          restartPolicy: Never
