---
name: Bash CI

on:
  pull_request:
  push:
    branches:
      - main

jobs:
  shellcheck:
    name: ShellCheck

    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8  # v6.0.1

      - name: Run ShellCheck
        uses: ludeeus/action-shellcheck@master
        env:
          SHELLCHECK_OPTS: -e SC2028
