name: "CI - Bash"

on:
  push:
    branches:
      - main

jobs:
  shellcheck:
    name: "Shellcheck"
    runs-on: ubuntu-latest
    steps:
      - name: "Checkout repo"
        uses: actions/checkout@v3

      - name: "Run ShellCheck"
        uses: ludeeus/action-shellcheck@master
