---
name: Kubernetes CI

on:
  pull_request:
  push:
    branches:
      - main

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

defaults:
  run:
    shell: bash

jobs:
  lint:
    name: Lint manifests

    strategy:
      fail-fast: false
      matrix:
        kubernetes-version:
          - '1.30'

    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8  # v6.0.1

      - name: Set up Go
        uses: actions/setup-go@4dc6199c7b1a012772edbd06daecab0f50c9053c  # v6.1.0
        with:
          go-version: '1.22'

      - name: Install kubectl-validate
        run: go install -ldflags='-s -w' -race -trimpath sigs.k8s.io/kubectl-validate@latest

      - name: Lint manifests
        run: |-
          kubectl-validate kubernetes/manifests/ \
            --local-crds kubernetes/crds/ \
            --version '${{ matrix.kubernetes-version }}'
